<div class="p-4">
    
    <div class="card bg-neutral shadow-sm border-1">
        <div class="card-body p-4">
            <div class="card-title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                </svg>
                {{.lang.labels.block}} {{.block.Height}}
            </div>

            <div>
                <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-2 p-4">
                    <div class="font-bold">{{.lang.labels.hash}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Hash}}</div>

                    <div class="font-bold">{{.lang.labels.size}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Size}}</div>

                    <div class="font-bold">{{.lang.labels.version}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Version}}</div>
                    
                    <div class="font-bold">{{.lang.labels.previousHash}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Previous_block_hash}}</div>

                    <div class="font-bold">{{.lang.labels.timestamp }}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Timestamp | unixToUtcDate}}</div>

                    <div class="font-bold">{{.lang.labels.nonce}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Nonce}}</div>

                    <div class="font-bold">{{.lang.labels.bits}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Bits}}</div>

                    <div class="font-bold">{{.lang.labels.difficulty}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Difficulty}}</div>

                    <div class="font-bold">{{.lang.labels.txMerkleRoot}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Transaction_merkle_root}}</div>

                    <div class="font-bold">{{.lang.labels.txStatusHash}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Transaction_status_hash}}</div>

                    <div class="font-bold">{{.lang.menu.txs}}</div>
                    <div class="sm:col-span-3 md:col-span-4 lg:col-span-5 break-words">{{.block.Transaction_status_hash}}</div>
                </div>
            </div>
        </div>
    </div>
</div>