<!DOCTYPE html>
<html lang="en" data-theme="eiyaro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style/global.css" rel="stylesheet" />
        <title>{{.Title}}</title>
    </head>
    <body>
        <div class="drawer md:drawer-open">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
            <div class="drawer-content flex flex-col bg-base-100">
            <!-- Top Navbar -->
            <div class="w-full navbar bg-neutral">
                <div class="flex-none md:hidden">
                <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                </label>
                </div> 
                <div class="flex-1 px-3 mx-3 text-xl font-normal text-neutral-content">
                {{.Title}}
                </div>
            </div>
            <div class="card card-bordered m-6 p-3 border-base-200 bg-neutral">
                <!-- Page content here -->
                {{embed}}
            </div>
            </div> 
            <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
            <div class="min-h-full w-60 bg-base-300">
                <div class="drawer-navbar">
                <img src="/static/img/logo.png" width="100px"/>
                </div>
                {{ template "layout/menu/navbar" . }}
            </div>
            </div>
        </div>
    </body>
    <script defer src="/static/lib/htmx.js"></script>
</html>